* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(184, 110, 254);
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.good {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col {
    width: 500px;
    height: 300px;
    background-color: rgb(254, 47, 178);
    border-radius: 20px;
      position: fixed;
}

.h {
    display: flex;
    justify-content: center;
    font-weight: 100;
}

.css2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

label {
    margin-left: 50px;
}

input {
    width: 140px;
    height: 30px;
    margin-top: 10px;
    border: solid 0px;
    border-radius: 10px;
}

.h8 {
    background-color: rgb(1, 168, 1);
    color: aliceblue;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 0px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 175px;
}

.js {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}

@media screen and (max-width:450px) {
    body {
        width: 100%;
    }

    .col {
        width: 350px;
        height: 265px;
    }

    label {
        margin-left: -10px;
        margin-left: 25px;
    }

    input {
        width: 100px;
    }

    .h8 {
        margin-left: -1px;
        margin-left: 100px;
        margin-top: -10px;
        margin-top: 30px;
    }

    .js {
        font-size: 15px;
        margin-left: -10px;
        margin-left: 20px;
    }

}
